.add-beer {
  .showcase.form {
    padding-block: 1rem;
    padding-inline: 1rem;
    max-width: calc(1000px + 2rem);
  }

  .label-input-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  input,
  textarea {
    width: 100%;
    // height: 100%;
  }

  .subject-foodPairings {
    .foodPairings {
      .flex-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
  
        .foodPairing {
          display: flex;
          gap: 3px;
        }
      }
    }
  }
  

  .brewersTip-comments {
    .comments {
      .flex-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
  
        .comment {
          display: flex;
          gap: 3px;
        }
      }
    }
  }

  .method-amount {
    .mash-entry {
      .mash-temperature {
        display: flex;
      }
    }
    // .fermentation-temperature {
    //   .flex-container {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;

    //     select {
          
    //     }
    //   }
    // }
    .amount {
      table {
        tr {
          td {
            display: flex;
          }
        }
      }
    }
  }
}


@media(min-width: 601px) {
  .add-beer {
    .showcase.form {
      padding-block: 1rem;
      padding-inline: 2rem;
      max-width: calc(1000px + 4rem);
    }
  }
}

@media(min-width: 801px) {
  .add-beer {
    .showcase.form {
      padding-block: 1rem;
      padding-inline: 3rem;
      max-width: calc(1000px + 6rem);
    }
  }
}

//   padding-inline: 1rem;
//   padding-block: 1rem;

//   display: flex;
//   flex-direction: column;

//   .showcase.form {
//     width: 1000px;
//     max-width: 100%;

//     .details-wrapper {
//       display: flex;
//       flex-direction: column;
//       gap: 1rem;

//       label {
//         padding-right: 1rem;
//       }

//       input {
//         width: 100%;
//       }

//       textarea {
//         width: 100%;
//       }

//       select {
//         border: 1px solid #ccc;
//         vertical-align: top;
//         height: 30px;
//       }

//       .subject_foodPairing {
//         display: flex;
//         flex-direction: column;
//         gap: 1rem;

//         .subject {
//           display: flex;
//           flex-direction: column;
//         }

//         .foodPairings {
//           display: flex;
//           flex-direction: column;

//           .foodPairing {
//             display: flex;
//             align-items: flex-end;
//             // padding-block-end: 0.5rem;
//           }
//         }
//       }

//       // .description {

//       // }
//       .brewersTips_comments {
//         display: flex;
//         flex-direction: column;
//         gap: 1rem;

//         .comments {
//           display: flex;
//           flex-direction: column;

//           .comment {
//             display: flex;
//             align-items: flex-end;
//           }
//         }
//       }

//       .method_amount {
//         gap: 1rem;

//         .method {
//           display: flex;
//           flex-direction: column;
//           // gap: 1rem;

//           .mash-entry {
//             display: flex;
//             flex-direction: column;
//             padding-block-end: 0.5rem;

//             .mash-temperature {
//               display: flex;
//             }
//           }

//           .fermentation-temperature {
//             display: flex;
//             flex-direction: column;

//             .wrapper {
//               display: flex;
//               padding-block-end: 0.5rem;
//             }
//           }
//         }

//         .amount {

//           .table-1,
//           .table-2 {
//             border-collapse: collapse;

//             td {
//               border-bottom: none;
//             }

//             .formVolumeWrapper,
//             .formBoilVolumeWrapper {
//               display: flex;
//             }
//           }
//         }
//       }

//       .hops_malts {
//         gap: 0;

//         .hops,
//         .malts {
//           padding-block-end: 1rem;

//           .hops-entry,
//           .malts-entry {
//             padding-block-end: 0.5rem;
//           }
//         }
//       }


//     }
//   }

//   .submitButton {
//     min-height: 60px;
//   }
// }

// @media(min-width: 801px) {
//   .add-beer {
//     .showcase.form {
//       input {
//         // width: auto;
//       }

//       .details-wrapper {
//         .subject_foodPairing {
//           flex-direction: row;
//           justify-content: space-between;

//           .subject {
//             flex: 1;
//           }

//           .foodPairings {
//             flex: 1;
//           }
//         }

//         .brewersTips_comments {
//           flex-direction: row;
//           justify-content: space-between;

//           .brewersTips {
//             flex: 1;
//           }

//           .comments {
//             flex: 1;
//           }
//         }

//         .method_amount {

//           .method,
//           .amount {
//             flex: 1;
//           }

//         }

//         .hops_malts {
//           flex-direction: row;
//           justify-content: space-between;
//           gap: 1rem;

//           .hops {
//             flex: 1;

//             .hops-entry {
//               input {
//                 width: auto;
//               }
//             }
//           }

//           .malts {
//             flex: 1;
//           }
//         }
//       }
//     }
//   }
// }























// // .add-beer-form {
// //   display: flex;
// //   flex-direction: column;
// //   align-items: center;
// //   padding: 32px;

// //   .errorMessage {
// //     color: red;
// //   }

// //   textarea {
// //     resize: none;
// //     overflow: hidden;
// //     width: 100%;
// //   }

// //   input {
// //     width: 100%;
// //   }

// //   select {
// //     width: auto;
// //     padding: 3px 2px;
// //   }

// //   td {
// //     display: flex;
// //     max-width: 100%;
// //   }
// // }

// // .showcase {
// //   display: flex;
// //   justify-content: flex-start;
// //   gap: 2rem;

// //   width: 100%;
// //   max-width: 1000px;

// //   strong {
// //     font-weight: 500;
// //   }

// //   p {
// //     hyphens: auto;
// //     max-width: 60ch;
// //   }

// //   .image_rating {
// //     display: flex;
// //     flex-direction: column;
// //     align-items: center;
// //     gap: 1rem;
// //     min-width: 220px; //

// //     img {
// //       max-height: 600px;

// //     }
// //   }

// //   .details {
// //     display: flex;
// //     flex-direction: column;
// //     gap: 1rem;
// //     width: 100%;

// //     .subject_foodPairing,
// //     .brewersTips_comments,
// //     .comments_details,
// //     .method_amount {
// //       display: flex;
// //       flex-wrap: wrap;
// //       gap: 2rem;



// //       ul {
// //         margin-block: 0;
// //       }
// //     }

// //     .method_amount {
// //       .mash-temp_fermentation {
// //         display: flex;
// //         flex-direction: column;

// //         .mash-entry {
// //           display: flex;
// //           flex-direction: column;
// //           padding-bottom: 1rem;

// //           .mash-temperature {
// //             display: flex;
// //           }
// //         }
// //       }

// //       .fermentation-temperature {
// //         display: flex;
// //       }
// //     }

// //     .hops_malts {
// //       gap: 0;

// //       .hops {
// //         display: flex;
// //         align-items: flex-end;
// //         flex-wrap: wrap;
// //         gap: 1rem;
// //       }

// //       .hops-entry {
// //         display: flex;
// //         flex-direction: column;
// //       }
// //     }

// //     .amount {
// //       display: flex;
// //       flex-direction: column;
// //       height: min-content;

// //       @supports (display: grid) {
// //         display: grid;
// //         grid-template-rows: auto auto;
// //         grid-template-columns: auto 1rem auto;

// //         h3 {
// //           grid-row: 1;
// //         }

// //         .table-1,
// //         .table-2 {


// //           td {}
// //         }

// //         .table-1 {
// //           min-width: auto;
// //           grid-row: 2;
// //           grid-column: 1;
// //         }

// //         .table-2 {
// //           min-width: auto;
// //           grid-row: 2;
// //           grid-column: 3;
// //         }
// //       }
// //     }

// //     .hops,
// //     .malts {
// //       table {
// //         width: 100%;
// //         border-collapse: separate;
// //         border-spacing: 0 3px;

// //         td {
// //           border-bottom: 1px solid black;
// //         }

// //         thead {
// //           tr {
// //             th {
// //               text-align: start;
// //             }
// //           }
// //         }

// //         tbody {
// //           tr {
// //             >td:first-child {
// //               padding-inline-end: 15px;
// //             }
// //           }
// //         }
// //       }
// //     }
// //   }
// // }