.beersList {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  padding-block: 1rem 5rem;

  table {
    width: 100%;
    border-collapse: collapse;

    .hideOnMobile {
      display: none;
    }

    thead {
      tr {
        th {
          text-align: start;

          padding-inline-start: 10px;
          padding-block: 10px;

          button {
            white-space: nowrap;
          }

          &:last-child {
            padding-inline-end: 10px;
          }

          .sortButton {
            cursor: pointer;
            display: flex;
            align-items: center;
            background-color: white;
            border: none;
            padding: 0;

            .sortArrows {
              display: flex;

              &.asc {
                svg {
                  .sortArrowsUp {
                    fill: var(--active-color);
                  }
                }
              }

              &.desc {
                svg {
                  .sortArrowsDown {
                    fill: var(--active-color);
                  }
                }
              }
            }

            svg {
              max-width: 25px;
              max-height: 25px;
            }
          }
        }
      }
    }

    tbody {
      border-bottom: 1px solid black;
      .table-row {
        cursor: pointer;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;

        td {
          padding-inline-start: 10px;
          padding-block: 10px;

          &:last-child {
            padding-inline-end: 10px;
          }
        }

        &.open {
          &+.collapsible-details {
            td {
              .flex-container {
                max-height: 500px;
                padding: 10px;
                transition: max-height 0.4s, padding 0.4s;
              }
            }
          }
        }

        &+.collapsible-details {
          border-left: 1px solid black;
          border-right: 1px solid black;
          transform: translateY(-3px);

          td {
            padding: 0;

            .flex-container {
        
              display: flex;
              justify-content: space-between;
              gap: 1rem;

              max-height: 0;
              padding: 0 10px;
              overflow: hidden;
              transition: max-height 0.2s, padding 0.2s;
              flex-wrap: wrap;
            }
          }
        }
      }

      .table-row:last-child {
        background-color: seagreen;
      }
    }
  }
}

@media(min-width: 601px) {
  .beersList {
    padding-inline: 10px;

    table {
      .hideOnMobile {
        display: table-cell;
      }
    }
  }
}

@media(min-width: 801px) {
  .beersList {
    padding-inline: 20px;
  }
}