// #beersList {
//   background-color: #191919;
//   padding-inline: 20px;

//   table {
//     margin-inline: auto;
//     width: 100%;
//     max-width: 1000px;
//     border-collapse: collapse;

//     thead {
//       tr {
//         border-bottom: 1px solid red;
//       }
//     }

//     tr {
//       cursor: pointer;
//       color: white;
//       background-color: #303030;

//       th,
//       td {
//         padding: 10px;

//         &:nth-child(1),
//         &:nth-child(2) {
//           text-align: start;
//         }

//         &:nth-child(3) {
//           text-align: center;
//         }

//         &:nth-child(4),
//         &:nth-child(5) {
//           text-align: end;
//         }

//         button {
//           white-space: nowrap;
//         }
//       }

//       &:has(th) {
//         background-color: #454545;
//       }
//     }

//     .table-row {
//       transition: border-bottom 0.3s ease;

//       &+.collapsible-table-row {
//         border-bottom: 1px solid red;
//         transition: border-bottom 0.3s ease;

//         td {
//           padding: 0;

//           .flex-container {
//             display: flex;
//             justify-content: space-between;

//             max-height: 0;
//             padding: 0 10px;
//             box-sizing: border-box;
//             overflow: hidden;
//             transition: max-height 0.3s, padding 0.3s;
//           }
//         }
//       }

//       &.open {
//         border-bottom: none;

//         &+.collapsible-table-row {
//           border-top: 1px dotted black;
//           border-bottom: 1px solid red;
//           transition: border-bottom 0s;

//           td {
//             .flex-container {
//               max-height: 100px;
//               padding: 10px;
//               transition: max-height 0.6s, padding 0.6s;
//             }
//           }
//         }
//       }
//     }
//   }
// }