.showcaseSlider {
  .swiper {

    .swiper-arrow-left,
    .swiper-arrow-right {
      z-index: 1;
      cursor: pointer;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;

      svg {
        width: 10px;
        height: 10px;
      }

      &:hover {
        svg {
          path {
            fill: var(--active-color);
          }
        }
      }
    }

    .swiper-arrow-left {
      justify-content: flex-start;
      left: 2px;
    }
    .swiper-arrow-right {
      justify-content: flex-end;
      right: 2px;
    }

    .swiper-slide {
      padding-block: 1rem;
      padding-inline: 1rem;
    }
  }
}

@media(min-width: 601px) {
  .showcaseSlider {
    .swiper {
      .swiper-arrow-left,
      .swiper-arrow-right {
        svg {
          width: 20px;
          height: 20px;
        }
      }

      .swiper-arrow-left {
        left: 5px;
      }
      .swiper-arrow-right {
        right: 5px;
      }

      .swiper-slide {
        padding-inline: 2rem;
      }
    }
  }
}

@media(min-width: 801px) {
  .showcaseSlider {
    .swiper {

      .swiper-arrow-left,
      .swiper-arrow-right {
        svg {
          width: 25px;
          height: 25px;
        }
      }

      .swiper-arrow-left {
        left: 10px;
      }
      .swiper-arrow-right {
        right: 10px;
      }

      .swiper-slide {
        padding-inline: 3rem;
      }
    }
  }
}