#beersList {
  max-height: 600px;
  max-height: 100vh;
  overflow: scroll;
  padding-block-start: 10px;
  // flyt til overview
  table {
    margin-inline: auto;
    width: 100%;
    max-width: 1000px;
    border-collapse: separate;
    border-spacing: 0 3px;
    margin-block-end: 20px;
    
    .hideOnMobile {
      display: none;
    }

    thead {
      tr {
        cursor: default;

        // no pointer cursor
        // Maybe seperate this into thead and tbody somehow
        th {
          width: min-content;
          font-size: 18px;
          padding: 0 10px;

          .sortButton {
            cursor: pointer;
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            color: white;
            padding: 0;

            .arrowUp,
            .arrowDown {
              font-size: 25px;

              &.active {
                color: red;
              }

              &:first-of-type {
                padding-inline-start: 5px;
              }
            }
          }
        }
      }
    }

    tr {
      cursor: pointer;
      color: white;
      background-color: #303030;




      th,
      td {
        padding: 10px;

        &:nth-child(1),
        &:nth-child(2) {
          text-align: start;
        }

        &:nth-child(3) {
          text-align: center;
        }

        &:nth-child(4),
        &:nth-child(5) {
          text-align: end;
        }

        button {
          white-space: nowrap;
        }
      }

      &:has(th) {
        background-color: #454545;
      }
    }

    .table-row {
      transition: border-bottom 0.2s ease;

      &+.collapsible-table-row {
        transform: translateY(-3px);
        border-bottom: 1px solid red;
        transition: border-bottom 0.2s ease;

        td {
          padding: 0;

          .flex-container {
            display: flex;
            justify-content: space-between;
            gap: 1rem;

            background-color: darkcyan;

            max-height: 0;
            padding: 0 10px;
            box-sizing: border-box;
            overflow: hidden;
            transition: max-height 0.2s, padding 0.2s;

            flex-wrap: wrap;
          }
        }
      }

      &.open {
        border-bottom: none;

        &+.collapsible-table-row {
          border-top: 1px dotted black;
          border-bottom: 1px solid red;
          transition: border-bottom 0s;

          td {
            .flex-container {
              max-height: 500px;
              padding: 10px;
              transition: max-height 0.4s, padding 0.4s;
            }
          }
        }
      }
    }
  }
}

@media(min-width: 601px) {
  #beersList {
    padding-inline: 10px;
    table {
      .hideOnMobile {
        display: table-cell;
      }
    }
  }
}

@media(min-width: 801px) {
  #beersList {
    padding-inline: 20px;

 
  }
}

