.navbar {
  z-index: 100;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: var(--navbar-height);
  padding-inline: 20px;

  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--navbar-color);

  button {
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: var(--navbar-color);
    border: 0;
    padding-inline: 1rem;

    &.active {
      color: black;
      background-color: white;

      &:hover {
        text-decoration: none;
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }
}