.navbar {
  z-index: 100;
  position: fixed;
  top: 0; right: 0; left: 0;
  background-color: var(--navbar-color);

  .navLinks {
    height: calc(var(--navbar-height) - 5px);
    padding-inline: 20px;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    margin-inline: auto;

    button {
      cursor: pointer;
      font-size: 18px;
      font-weight: 700;
      color: white;
      background-color: var(--navbar-color);
      border: 0;
      padding-inline: 1rem;

      &.active {
        color: black;
        background-color: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-block-start: 15px;
        transition: all 0.2s ease;

        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .bottom-border {
    height: 5px;
    background-color: white;
  }
}