.showcase {
  max-width: 1000px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .closeButton {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;

    &:hover {
      svg {
        path {
          fill: var(--active-color);
        }
      }
    }
  }

  .wrapper-image-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper-details {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .subject-foodPairings {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .subject {
        flex: 1;
      }

      .foodPairings {
        flex: 1;
      }
    }
  }

  .brewersTip-comments {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;

    .brewersTip {
      flex: 1;
    }

    .comments {
      flex: 1;
    }
  }

  .method-amount {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;

    .method {
      flex: 1;
    }

    .amount {
      flex: 1;
    }
  }

  .hops-malts {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;

    .hops {
      flex: 1;
    }

    .malts {
      flex: 1;
    }
  }
}

@media(min-width: 601px) {
  .showcase {
    flex-direction: row;
    margin: 0 auto;

    .wrapper-image-rating {
      img {
        width: 150px;
        max-width: 150px;
      }
    }

    .wrapper-details {
      .closeButton {
        top: 0;
        right: 0;
      }
    }
  }
}

@media(min-width: 801px) {
  .showcase {
    flex-direction: row;
    margin: 0 auto;
    gap: 2rem;

    .wrapper-image-rating {
      img {
        width: 200px;
        max-width: 200px;
      }
    }
  }
}