.star {
  cursor: pointer;
  font-size: 1.25rem;
  &::before {
    content: '☆';
  }
}

.star.filled {
  color: var(--active-color);

  &::before {
    display: none;
  }
  &::after {
    content: '★';
  }
}