.table-row {
  .beerName {
    font-weight: 700;
    color: var(--header-color);
    text-align: start;
  }

  .expandIcon {
    .expandDownIcon,
    .expandUpIcon {
      cursor: pointer;
      display: flex;
      align-items: center;

      svg {
        height: 25px;
        width: 25px;

        path {
          stroke: black;
        }
      }
    }

    .expandUpIcon {
      svg {
        path {
          stroke: var(--active-color);
        }
      }
    }
  }
}