.amount {
  min-width: 250px;

  h2 {
    color: var(--header-color);
  }

  h4 {
    color: var(--subheader-color);
  }

  .flex-container {
    display: flex;
    gap: 1rem;

    table {
      flex: 1;
      height: min-content;
      border-collapse: separate;
      border-spacing: 0 3px;
  
      tbody {
        tr {
          td {
            white-space: nowrap;
            padding-inline: 0.5rem;
            border-bottom: 1px solid black;

            strong {
              color: var(--subheader-color);
            }
    
            &:first-child {
              padding-inline-start: 0;
            }
    
            &:last-child {
              text-align: end;
              padding-inline-end: 0;
            }
          }
        }
      }
    }
  }
}

// @media(min-width: 601px) { 
//   .amount {
//     .flex-container {
//       table {
//         flex: none;
//       }
//     }
//   }
// }
